[submodule "Bolt Core"]
    path = lib/bolt
    url = git@github.com:boltcms/bolt-core.git

[submodule "Bolt Admin"]
    path = apps/bolt-admin
    url = git@github.com:boltcms/bolt-admin.git

[submodule "Bolt Pages"]
    path = apps/bolt-pages
    url = git@github.com:boltcms/bolt-pages.git

[submodule "Bolt Users"]
    path = apps/bolt-users
    url = git@github.com:boltcms/bolt-users.git

[submodule "Sprig by Banks"]
    path = lib/sprig
    url = git://github.com/banks/sprig.git

[submodule "Kolanos Captcha"]
    path = lib/captcha
    url = git://github.com/kolanos/kohana-captcha.git

[submodule "lib/codebench"]
	path = lib/codebench
	url = git://github.com/kohana/codebench.git

[submodule "lib/database"]
	path = lib/database
	url = git://github.com/kohana/database.git

[submodule "lib/image"]
	path = lib/image
	url = git://github.com/kohana/image.git

[submodule "lib/pagination"]
	path = lib/pagination
	url = git://github.com/kohana/pagination.git

[submodule "apps/userguide"]
	path = apps/userguide
	url = git://github.com/kohana/userguide.git
	
[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git

[submodule "lib/sprig-mptt"]
	path = lib/sprig-mptt
	url = git://github.com/banks/sprig-mptt.git

[submodule "lib/jelly"]
	path = lib/jelly
	url = git://github.com/jonathangeiger/kohana-jelly.git

[submodule "lib/jelly-auth"]
	path = lib/jelly-auth
	url = git@github.com:raeldc/jelly-auth.git
[submodule "lib/cache"]
	path = lib/cache
	url = git://github.com/samsoir/kohana-cache.git

[submodule "lib/bolt-auth"]
	path = lib/bolt-auth
	url = git@github-bolt:boltcms/bolt-auth.git