[submodule "Bolt Core"]
    path = modules/bolt
    url = git@github.com:boltcms/bolt-core.git

[submodule "Bolt Admin"]
    path = modules/bolt-admin
    url = git@github.com:boltcms/bolt-admin.git

[submodule "Bolt Pages"]
    path = modules/bolt-pages
    url = git@github.com:boltcms/bolt-pages.git

[submodule "Bolt Users"]
    path = modules/bolt-users
    url = git@github.com:boltcms/bolt-users.git

[submodule "Sprig by Banks"]
    path = modules/sprig
    url = git://github.com/banks/sprig.git

[submodule "Kolanos Captcha"]
    path = modules/captcha
    url = git://github.com/kolanos/kohana-captcha.git

[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/kohana/codebench.git

[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git

[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git

[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git

[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git

[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git

[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
	
[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git

[submodule "modules/sprig-mptt"]
	path = modules/sprig-mptt
	url = git://github.com/banks/sprig-mptt.git
[submodule "modules/jelly"]
	path = modules/jelly
	url = git://github.com/jonathangeiger/kohana-jelly.git
